@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

// Utilities
@import 'utilities';

// Font-face
@import 'font-face';

// Reset
@import 'reset';

// Library
@import 'library';

// Layout
@import 'layout';

// Components
@import 'components';

// Grid
@import 'grid';

// Board Template
// @import 'board';

// Board Template Old Version
@import 'board.old';
// @import "board";

.main {
	overflow: hidden;
}

.container--lg {
	max-width: 1640px;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

.container--sm {
	max-width: 1240px;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}
